cmd
.env
.vim
.vscode
.idea
.dockerignore
.gitignore
**/.git
**/.github
.*.sw[opnm]
**/__pycache__
*.pyc
*.pyi
.python-version
.coverage
.coverage.*
coverage.xml
.mypy_cache
**/.pytest_cache
build
dist
*.egg-info/
pip-wheel-metadata
go.mod
*_pb2.py
*_pb2.pyi
*_pb2_grpc.py
*.protoset
.DS_Store
Dockerfile*
Makefile
**/*.py
!**/__init__.py
!scripts/*.py
tests

