.*.sw[opnm]
*.pyc
*.pyi
.mypy_cache
__pycache__
*_pb2.py
*_pb2_grpc.py
*_pb2.pyi
.pytest_cache
third_party/*
!third_party/.gitkeep
.vim/
.idea
.env
.coverage
.coverage.*
*.protoset
.DS_Store
.python-version
scripts/debug.py
.pip
coverage.xml
